<!DOCTYPE html>
<html>
<head>
    <title>My DevOps Project</title>
    <style>
        body {
            background-color: #0f172a;
            color: white;
            text-align: center;
            font-family: Arial, sans-serif;
        }
        h1 {
            font-size: 60px;
            margin-top: 100px;
        }
        p {
            font-size: 25px;
        }
        img {
            margin-top: 30px;
            width: 400px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <h1>🚀 My DevOps Django Project</h1>
    <p>Successfully Containerized and Deployed using Docker</p>
    <img src="https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_1280.jpg" alt="DevOps Image">
</body>
</html>